{
    "debug": false,
    "log_to_file": false,
    "log_level": 1,
    "logging_port": 19995,
    "logging_dir": "logs/",
    "hive_server": "127.0.0.1",
    "hive_port": 9000,
    "hive_listener_endpoint": "/YaraWhitelistRuleCreator",
    "hive_api_key": "SuGd5Aj4NNudH8unh5CpWLm4U/MYDeVc",
    "listener_bind_host": "0.0.0.0",
    "listener_bind_port": 5001,
    "datetime_format": "%Y-%m-%d %H:%M:%SZ",
    "theoracle_server": "127.0.0.1",
    "theoracle_port": 22,
    "theoracle_user": "git",
    "theoracle_remote_repo": "",
    "theoracle_local_path": "theoracle/git/",
    "theoracle_repo_rules_dir": "theoracle/git/rules/"
}