html {
    /*background-color: #8ac640;*/
}

.caseDetailsCollapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .caseDetailsCollapsible:hover {
  background-color: #555;
}

.caseDetailsContent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

/*#yara_rule_designer*/

/*#artifact_varname*/

.raw_yara_condition_input {
  height:1.5%;
  float:left;
  border: 1px solid black;
  padding: 5px;
}

#raw_yara_condition_input_prompt {
  flex-shrink: 0;
}

#raw_yara_condition_input_textarea {
  min-width: 100px;
  word-break: break-all;
  cursor: text;
}

[contenteditable="true"].raw_yara_condition_input {
    white-space: nowrap;
    width:92%;
    overflow: hidden;
}
[contenteditable="true"].raw_yara_condition_input br {
    display:none;

}
[contenteditable="true"].raw_yara_condition_input * {
    display:inline-block;
    white-space:nowrap;
}