html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

#yara_rule_designer {
    overflow: auto;
    border:1px solid limegreen;
}

#yara_rule_designer_container {
    width: 100%;
    height: 100%;
    display: flex;
}

.yara_rule_designer > span {
    /*display: inline-grid;*/
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    border: 0px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px grey;
    color: #ffffff;
}

#yara_rule_designer_artifacts > span {
    display: inline-grid;
}

#yara_rule_designer_editor > span {
    /*display: inline-grid;*/
    /*padding: 10px;*/
}

#yara_rule_designer_operators > span {
    display: inline-grid;
}

#yara_rule_designer_header {
    order: 0;
    overflow: hidden;
    width:100%;
    height: 10%;
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    border:1px solid black;
    /*background: #204d74;*/
}

#yara_rule_designer_artifacts {
    order: 1;
    float:left;
    overflow: auto;
    width:20%;
    height:90%;
    border:1px solid black;
    /*background: #204d74;*/
}

#yara_rule_designer_editor {
    order: 2;
    float: left;
    overflow: auto;
    width: 60%;
    height: 90%;
    border:1px solid black;
    /*background: #c7254e;*/
}

#yara_rule_designer_operators {
    order: 3;
    float:right;
    overflow: auto;
    width:20%;
    height:90%;
    border:1px solid black;
    /*background: #3c763d;*/
}

.condition_keyword {
    color: #ffffff;
    font-weight: bold;
    background-color: #dd63ba;
}

.draggable_artifact {
    color: #ffffff;
    background-color: #4a90dd;
}