/*body {*/
/*    background-color: black;*/
/*}*/

#yara_rule_designer {
    width: 1580px;
    height: 720px;
    position: absolute;
    display: inline;
    border:1px solid red;
}

.yara_rule_designer > span {
    position: relative;
    display: grid;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 0px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px grey;
    color: #ffffff;
}

#yara_rule_designer_artifacts {
    /*position: absolute;*/
    float:left; /* add this */
    overflow: scroll;
    margin-left: 0px;
    width:300px;
    height:720px;
    padding:30px;
    border:1px solid #aaaaaa;
    /*background-color: ;*/
}

#yara_rule_designer_editor {
    /*position: absolute;*/
    float:left; /* add this */
    overflow: scroll;
    margin-left: 0px;
    width:1000px;
    height:720px;
    padding:30px;
    border:1px solid #aaaaaa;
    /*background-color: ;*/
}

#yara_rule_designer_operators {
    /*position: absolute;*/
    float:left; /* add this */
    overflow: scroll;
    margin-left: 0px;
    width:300px;
    height:720px;
    padding:30px;
    border:1px solid #aaaaaa;
    /*background-color: ;*/
}

.condition_keyword {
    color: #ffffff;
    font-weight: bold;
    background-color: #dd63ba;
}

.draggable_artifact {
    color: #ffffff;
    background-color: #4a90dd;
}

/*#condition_keyword > span {*/
/*}*/

/*#makeMeDraggable { width: 100px; height: 100px; background: red; }*/