<link rel="stylesheet" href="{{ url_for('static', filename='thehive_cases_raw_partial.css') }}">

<div class="block1">
    <table class="table table-striped case-list">
        <tr>
            <th style="width: 10px" class="p-0"></th>
            <th>Title</th>
            <th>Pending</th>
            <th style="width: 100px;text-align:center">Severity</th>
            <th style="width: 100px">Observables</th>
            <th style="width: 60px">Owner</th>
            <th style="width: 120px">Added on</th>
            <th>YARA file</th>
            <th style="width: 120px">Last modified</th>
            <th>ID</th>
        </tr>
        {% for rule in rules %}
             {% if rule.data.tlp == 1 %}
                {% set tlp_class = "p-0 bg-tlp-1 clickable" %}
             {% elif rule.data.tlp == 2 %}
                {% set tlp_class = "p-0 bg-tlp-2 clickable" %}
            {% elif rule.data.tlp == 3 %}
                {% set tlp_class = "p-0 bg-tlp-3 clickable" %}
            {% endif %}

            <tr onclick="window.location='#';">
                <td class={{ tlp_class }}></td>
                <td><a href="{{ url_for('new_rule_designer', id=rule.data.id) }}">{{ rule.data.title }}</a></td>
                <td>{{ rule.pending }}</td>
                <td>{{ rule.data.severity }}</td>
                <td>{{ rule.data.observables|length }}</td>
                <td>{{ rule.data.owner }}</td>
                <td>{{ rule.added_on }} </td>
                <td>{{ rule.yara_file if rule.yara_file else '' }}</td>
                <td>{{ rule.last_modified if rule.last_modified else 'Never' }}</td>
                <td>{{ rule.data.id }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
