<div class="block1">
    <table style="border: 1px solid black;">
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
            <h1> Case: {{ case.data.title }} [ID: {{ case.data.id }}] </h1>
            {% for key, value in case.data.items() %}
                {% if key == "observables" %}
                    <p>Observables:</p>
                    <ul>
                        {% for observable in case.data.observables %}
                                <li>
                                    {{ observable.id }}
                                    <ul>
                                        {% for k, v in observable.items() %}
                                            <li> {{ k }}: {{ v }}] </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                        {% endfor %}
                    </ul>
                {% else %}
                        <tr>
                            <td> {{ key }} </td>
                            <td>{{ value }}</td>
                        </tr>

                {% endif %}
            {% endfor %}
    </table>
</div>