<link rel="stylesheet" href="{{ url_for('static', filename='yara_rule_designer_click.css') }}">

<!-- Define default values for variables  -->
{% if artifacts is not defined %}
    {% set artifacts = {"data:" : "ERROR: NO ARTIFACTS WERE GIVEN!"} %}
{% endif %}

<!-- Load theme if specified -->
{% if theme is defined %}
    <!-- Set Jinja2 variables for use in JavaScript -->
    <!--    Theme handler: -->
    <meta id="themeArg" data-name="{{ theme }}" data-path="{{ url_for('static', filename='themes') + '/' }}">
    <!--    JavaScript custom POST handler -->
    <meta id="postUrl" data-url="{{ url_for('post_rule_json') }}">
    <!--    YARA rule variables gathered from backend for use in POST request -->
    <meta id="yaraRule" data-name="Whitelist_{{ case.data.title }}" data-tags="{{ case.data.tags }}">
    <meta id="yaraMeta" data-description="Whitelist regler for alarmen: Whitelist_{{ case.data.title }}">
{% endif %}

<div class="container mh-100 h-100 mw-100 w-100 yara_rule_designer" id="yara_rule_designer_container">
    <div class="row align-items-start">

        <div id="yara_rule_designer_header" class="col yara_rule_designer">
            <p> Case: {{ case.data.title }} [ID: {{ case.data.id }}] </p>
        </div>

        <div class="w-100"></div>

        <div id="yara_rule_designer_leftpane_container" class="col-2 yara_rule_designer">
            <div class="row">
                <div class="col yara_rule_designer" id="yara_rule_designer_buttons" ondrop="drop(event)" ondragover="dragOverAllowedDrop(event)" ondragenter="dragEnterAllowed(event)" ondragleave="dragLeaveAllowed(event)">
                    <button id="submit_rule_button"  onclick="postRule()">Submit</button>
                </div>

                <div class="w-100"></div>

                <div class="yara_rule_designer" id="yara_rule_designer_operators" ondrop="drop(event)" ondragover="dragOverDisallowedDrop(event)" ondragenter="dragEnterDenied(event)" ondragleave="dragLeaveDenied(event)">
                    <!--    Add conditional keywords-->
                    <!--    Boolean-->
                    <span id="condition_keyword_and" class="condition_keyword" onclick="addToEditor(event)"> AND </span>
                    <span id="condition_keyword_or" class="condition_keyword" onclick="addToEditor(event)"> OR </span>
                    <span id="condition_keyword_not" class="condition_keyword" onclick="addToEditor(event)"> NOT </span>
                    <!--    Arithmetic-->
                    <span id="condition_keyword_equal" class="condition_keyword" onclick="addToEditor(event)"> == </span>
                    <span id="condition_keyword_lt" class="condition_keyword" onclick="addToEditor(event)"> < </span>
                    <span id="condition_keyword_gt" class="condition_keyword" onclick="addToEditor(event)"> > </span>
                    <span id="condition_keyword_leq" class="condition_keyword" onclick="addToEditor(event)"> <= </span>
                    <span id="condition_keyword_geq" class="condition_keyword" onclick="addToEditor(event)"> >= </span>
                    <span id="condition_keyword_neq" class="condition_keyword" onclick="addToEditor(event)"> != </span>
                    <!--    Relational-->
                    <span id="condition_keyword_add" class="condition_keyword" onclick="addToEditor(event)"> + </span>
                    <span id="condition_keyword_sub" class="condition_keyword" onclick="addToEditor(event)"> - </span>
                    <span id="condition_keyword_mul" class="condition_keyword" onclick="addToEditor(event)"> * </span>
                    <span id="condition_keyword_div" class="condition_keyword" onclick="addToEditor(event)"> / </span>
                    <span id="condition_keyword_pct" class="condition_keyword" onclick="addToEditor(event)"> % </span>
                    <span id="condition_keyword_setminus" class="condition_keyword" onclick="addToEditor(event)"> \ </span>
                    <!--    Bitwise-->
                    <span id="condition_keyword_bitwise_and" class="condition_keyword" onclick="addToEditor(event)"> & </span>
                    <span id="condition_keyword_bitwise_or" class="condition_keyword" onclick="addToEditor(event)"> | </span>
                    <span id="condition_keyword_bitwise_not" class="condition_keyword" onclick="addToEditor(event)"> ~ </span>
                    <span id="condition_keyword_bitwise_xor" class="condition_keyword" onclick="addToEditor(event)"> ^ </span>
                    <span id="condition_keyword_bitwise_lshift" class="condition_keyword" onclick="addToEditor(event)"> << </span>
                    <span id="condition_keyword_bitwise_rshift" class="condition_keyword" onclick="addToEditor(event)"> >> </span>
                    <!-- Parenthesis and wrappers       -->
                    <span id="condition_keyword_lparen" class="condition_keyword" onclick="addToEditor(event)"> ( </span>
                    <span id="condition_keyword_rparen" class="condition_keyword" onclick="addToEditor(event)"> ) </span>
                    <span id="condition_keyword_encapsulate_paren" class="condition_encapsulator" onclick="addToEditor(event)"> () </span>
                </div>

                <div class="w-100"></div>

                <div class="yara_rule_designer" id="yara_rule_designer_artifacts" ondrop="drop(event)" ondragover="dragOverDisallowedDrop(event)" ondragenter="dragEnterDenied(event)" ondragleave="dragLeaveDenied(event)">
                    <!--    Add artifacts and artifact dataTypes as individual draggable objects-->

                    <!-- Define list to filter artifact types so that only unique occurrences are added. -->
                    {% set added_artifact_types = [] %}

                    {% for artifact in artifacts %}
                        <!-- Add artifacts -->
                        <span id="artifact{{ loop.index }}" class="draggable_artifact" onclick="addToEditor(event)" >{{ artifact.data }} </span>

                        <!-- Add artifact dataTypes-->
                        <!-- Remove NoneType entries by assigning the value to a new variable, if it is not NoneType. -->
                        {% if artifact.dataType is not none and artifact.dataType != "None" %}
                            {% if artifact.dataType not in added_artifact_types %}
                                <!-- Only add unique items to editor -->
                                <span id="artifact_type{{ loop.index }}" class="draggable_artifact_type" onclick="addToEditor(event)" >{{ artifact.dataType }} </span>
                                {{ added_artifact_types.append(artifact.dataType)|ignore_none }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="yara_rule_designer_editor_container" class="col-10 yara_rule_designer">
            <div class="row">
                <div class="col yara_rule_designer" id="yara_rule_designer_editor" ondrop="drop(event)" ondragover="dragOverAllowedDrop(event)" ondragenter="dragEnterAllowed(event)" ondragleave="dragLeaveAllowed(event)"></div>
            </div>
        </div>

    </div> <!-- Row //-->
</div> <!-- Container //-->

<!--<div id="info">-->
<!--    <h1>How to use:</h1>-->
<!--     <ul>-->
<!--      <li>Click to add items to editor.</li>-->
<!--      <li>Middle click to remove item from editor.</li>-->
<!--    </ul>-->
<!--</div>-->
<!-- The Modal -->
<div id="response_modal_id" class="response_modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header" id="response_modal_header">
        <span class="close_response_modal">&times;</span>
        <h2>Modal Header</h2>
      </div>
      <div class="modal-body" id="response_modal_body">
        <p>Some text in the Modal Body</p>
        <p>Some other text...</p>
      </div>
      <div class="modal-footer" id="response_modal_footer">
        <h3>Modal Footer</h3>
      </div>
    </div>
</div>
{% block javascript %}
    <!-- JQuery includes ( required for drag and drop and $() ). -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap //-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Theme handler -->
    <script>
        // extend jQuery with this tiny convenience to allow for simple existence tests.
        $.fn.exists = function () {
            return this.length !== 0;
        };

        function loadTheme(themeData) {
            const rootEl = document.querySelector(':root');
            const themePath = themeData.path;

            let themeFile = themeData.name + ".json";
            let themeFilePath = themePath + themeFile;

            // Load corresponding theme JSON from file.
            console.log("Load theme: " + themeFilePath);
            $.getJSON(themeFilePath, function(json) {
                console.log(json); // this will show the info it in firebug console
                for (let key in json) {
                    console.log("setProperty(" + key + ", " + json[key] + ")")
                    rootEl.style.setProperty(key, json[key]);
                }

            });
        }

        let themeArg = $('#themeArg');

        if (themeArg.exists()) {
            loadTheme(themeArg.data())
        }
    </script>

    <script>
        // https://stackoverflow.com/a/26272668
        function getStyleRuleValue(selector, style) {
         let selector_compare=selector.toLowerCase();
         let selector_compare2= selector_compare.substr(0,1)==='.' ?  selector_compare.substr(1) : '.'+selector_compare;

         for (let i = 0; i < document.styleSheets.length; i++)
         {
          let mysheet = document.styleSheets[i];
          let myrules = mysheet.cssRules ? mysheet.cssRules : mysheet.rules;

          for (let j = 0; j < myrules.length; j++)
          {
            if (myrules[j].selectorText)
            {
             let check = myrules[j].selectorText.toLowerCase();
             switch (check)
             {
              case selector_compare  :
              case selector_compare2 : return myrules[j].style[style];
             }
            }
           }
          }
         }

        const ROOT_CLASS = 'yara_rule_designer';
        const DIVS_WITH_CLONING = ['yara_rule_designer_artifacts', 'yara_rule_designer_operators'];
        const SUCCESS_ICON = "<span style='color: green'>&#10003;</color>";
        const FAILED_ICON = "<span style='color: red'>&#10005;</span>";
        const YARA_VARIABLE_DENOMINATOR = "$";

        let originalParentIdLookupByClass = {
            "draggable_artifact": "yara_rule_designer_artifacts",
            "condition_keyword": "yara_rule_designer_operators",
            "condition_encapsulator": "yara_rule_designer_operators"
        };

        // Convenience/readability constants.
        const LEFT_CLICK = 0;
        const MIDDLE_CLICK = 1;
        const RIGHT_CLICK = 2;
        const ARTIFACT_CLASSES = ["draggable_artifact", "draggable_artifact_type"];
        const KEYWORD_CLASSES = ["condition_keyword"];

        ///////////////// Response modal globals (Re-implementations and listeners ////////////////////////

        // Get the modal
        let responseModal = document.getElementById("response_modal_id");

        // Get the <span> element that closes the modal
        let closeResponseModal = document.getElementsByClassName("close_response_modal")[0];

        // When the user clicks on <span> (x), close (hide) the modal
        closeResponseModal.onclick = function() {
          responseModal.style.display = "none";
        };

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == responseModal) {
            responseModal.style.display = "none";
          }
        };

        /**
         * Convenience: Shortens the line width when getting a CSS variable.
         */
        function getCSSVar(varName) {
            // console.log("getCSSVar(" + varName + ") = " + getComputedStyle(document.documentElement).getPropertyValue('--' + varName));
            return getComputedStyle(document.documentElement).getPropertyValue('--' + varName);
        }

        /**
         * Shows a pop-up modal with customisable header, footer and body,
         * as well as background color based on level.
         *
         * level: String that is appended to CSS variables:
         *  - '-modal_background_*'
         *  - '-modal_color_*'
         */
        function popupModal(header=null, body=null, footer=null, level=null) {
            // console.log("function popupModal(header=" + header + ", body=" + body + ", footer=" + footer + ", level=" + level + ")");
            // Modal element itself.
            let modal = document.getElementById("response_modal_id");

            // Modal sub-elements.
            let modalHeader = document.getElementById("response_modal_header");
            let modalBody = document.getElementById("response_modal_body");
            let modalFooter = document.getElementById("response_modal_footer");

            // Set level (if null, set to info/default).
            level = (level != null) ? level : "info";
            console.log("level:" + level);

            // Set sub-element values, if given.
            modalHeader.innerHTML = (header != null) ? header: "<h2>header</h2>";
            modalBody.innerHTML  = (body != null) ? body : "<h2>Modal body</h2>";
            modalFooter.innerHTML = (footer != null) ? footer :  "<h2>Footer</h2>";

            // Set custom style.
            //      Header.
            modalHeader.style.background = getCSSVar("modal_background_" + level);
            modalHeader.style.color = getCSSVar("modal_color_" + level);
            //      Footer.
            modalFooter.style.background = getCSSVar("modal_background_" + level);
            modalFooter.style.color = getCSSVar("modal_color_" + level);

            // Show modal.
            modal.style.display = "block";
        }

        ///////////////////////////////////// Core (designer) code ///////////////////////////////////

        /**
         * Override default behaviour for mouse clicks in the editor div,
         * in order to support middle and right clicks.
         */
        document.getElementById('yara_rule_designer_editor').addEventListener('auxclick', function(ev) {
          console.log(ev.button);
          // Prevent default action in order to implement our own.
          ev.preventDefault();

          // Handle aux click events.
          onAuxClick(ev);
        });

        /**
         * Because null == undefined is true, this will catch both null and undefined.
         */
        function hasRelatedTarget(ev) {
            return ev.relatedTarget != null;
        }

        /**
         * Because null == undefined is true, this will catch both null and undefined.
         */
        function hasTarget(ev) {
            return ev.target != null;
        }

        /**
         * Get the identifying property of the item when getAttribute isn't inherited.
         */
        function getIdentifier(target) {
            if (target.nodeName === "#text") {
                return target.data + " [type: #text]";
            } else {
                return target.getAttribute('id');
            }
        }

        function addToEditor(clickEvent) {
            let editorDiv = document.getElementById("yara_rule_designer_editor");

            // If target is already in the editor, ignore the click event.
            if (clickEvent.target.parentNode.getAttribute("id") === "yara_rule_designer_editor") {
                console.log("Ignored click event (target is child of editor div):");
                console.log(clickEvent);
                return
            }

            // console.log(clickEvent);


            console.log('addToEditor: ' + $(clickEvent.target).text());
            editorDiv.appendChild(makeClone(clickEvent.target));
        }

        function removeFromEditor(clickEvent) {
            let editorDiv = document.getElementById("yara_rule_designer_editor");

            // Only perform remove action if target is a child of editor div.
            if (clickEvent.target.parentNode.getAttribute("id") === "yara_rule_designer_editor") {
                console.log("removeFromEditor: " + $(clickEvent.target).text());
                editorDiv.removeChild(clickEvent.target);
            }
        }

        function onAuxClick(auxClickEvent) {
            console.log("onAuxClick:");
            console.log(auxClickEvent);

            // Check which mouse button was pressed and act accordingly.
            switch (auxClickEvent.button) {
                case MIDDLE_CLICK:
                    removeFromEditor(auxClickEvent);
                    break;
                case RIGHT_CLICK:
                    break;
            }
        }

        function getEditorContents() {
            return document.getElementById("yara_rule_designer_editor").children;
        }

        function getEditorArtifactsAndTypes(unique=true) {
            let artifacts = [];
            let children = getEditorContents();

            for (let i = 0; i < children.length; i++) {
                if ( ARTIFACT_CLASSES.includes(children[i].className) ) {
                    if (unique === true) {
                        // If unique is specified, omit duplicate entries.
                        if ( !artifacts.some(child => child.id === children[i].id) ) {
                            artifacts.push(children[i]);
                        }
                    } else {
                        artifacts.push(children[i]);
                    }
                }
            }

            return artifacts;
        }

        function getEditorElementArtifactText(element) {
            // Get text string.
            let text = $(element).text();

            // Strip the head whitespace and return.
            return text.substring(0, text.length - 1)
        }

        function getEditorElementKeywordText(element) {
            // Get text string.
            let text = $(element).text();

            // Strip the head and tail whitespace and return.
            return text.substring(1, text.length - 1)
        }

        function getEditorElementIdString(elementId) {
            // Strip the head whitespace and return.
            return String(elementId).substring(0, elementId.length - 1)
        }

        function getEditorConditionString() {
            let conditionString = "";
            let children = getEditorContents();

            // Spacing to use in front of a word, to form a coherent sentence structure.
            let preSpacing = "";
            for (let i = 0; i < children.length; i++) {
                if (i === 1) {
                    // If we're past the first entry we can start prepending spacing.
                    preSpacing = " ";
                }

                // If child is of the artifact family.
                if ( ARTIFACT_CLASSES.includes(children[i].className) ) {
                    // Prepend with a YARA variable denominator.
                    conditionString += preSpacing + YARA_VARIABLE_DENOMINATOR + children[i].id;
                } else if (KEYWORD_CLASSES.includes(children[i].className)) {
                    // Child is a logical operator
                    conditionString += preSpacing + getEditorElementKeywordText(children[i]).toLowerCase();
                } else {
                    console.error("getEditorConditionString is not supposed to reach an else condition!");
                    console.error(children[i]);
                }
            }

            return conditionString;
        }



        /**
         * Generate a JSON of varname and vardata to send in POST request.
         */
        function getRuleJsonFromEditorElements() {
            let json = {};
            let yaraRule = $('#yaraRule').data();

            // Get rule name.
            let ruleName = yaraRule.name;

            // Set meta FIXME: sub-dicts hardcoded!
            json["meta"] = {"description" : $('#yaraMeta').data().description};

            // Set rule name.
            json["rule"] = ruleName;

            // Set tags.
            json["tags"] = yaraRule.tags;
            console.log(json["tags"]);

            // Get list of artifacts currently residing in editor DIV.
            json["artifacts"] = {};

            let artifactElements = getEditorArtifactsAndTypes();
            for (let i = 0; i < artifactElements.length; i++) {
                json["artifacts"][YARA_VARIABLE_DENOMINATOR + artifactElements[i].id] = {
                    "artifact": getEditorElementArtifactText(artifactElements[i])
                }
            }

            // Get condition.
            json["condition"] = getEditorConditionString();

            return json;
        }

        function addCaseDetailsCollapsibleButtonLogic(className) {
            let coll = document.getElementsByClassName(className);
            let i;

            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                let content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
              });
            }
        }

        function handlePostRuleResponse(json) {
            let errorType = "";
            let errorMessage = "";
            let errorLineNumber = 0;
            let errorColumnNumber = 0;
            let errorColumnRange = 0;
            let errorWord = "";
            let level = "success";

            // Parse JSON:
            let inJson = json["in"];
            let outJson = json["out"];

            let compilable = outJson["compilable"];
            let success = outJson["success"];

            let source = outJson["source"];
            let sourcePreprocessed = outJson["source (preprocessed)"];

            if (!compilable) {
                level = "warning";
            }

            if (!success) {
                errorMessage = outJson["error"]["message"];
                errorType = outJson["error"]["type"];
                errorLineNumber = parseInt(outJson["error"]["line_number"]);
                errorColumnNumber = parseInt(outJson["error"]["column_number"]);
                errorColumnRange = parseInt(outJson["error"]["column_range"]);
                errorWord = outJson["error"]["word"];
                level = "error";

                console.log("errorMessage: " + errorMessage);
                console.log("errorType: " + errorType);
                console.log("errorLineNumber: " + errorLineNumber);
                console.log("errorColumnNumber: " + errorColumnNumber);
                console.log("errorColumnRange: " + errorColumnRange);
                console.log("errorWord: " + errorWord);
                console.log("level: " + level);
            }

            // Define header
            let header = `<h2>YARA rule generation results: ${String(level).toUpperCase()}</h2>`;

            // Define body
            let body = "";

            // Passed/Failed items.
            body += "<p>" + (compilable === true ? SUCCESS_ICON : FAILED_ICON) + " Compiles </p>";

            // Error message (if any).
            if (!success) {
                body += `<p>${errorType.replace(/^\w/, c => c.toUpperCase())} error message: ${errorMessage}</p>`;
            }

            // Formatted string of the generated YARA rule ("source").
            body += "<br/>Generated YARA rule:<br/>";

            // Loop through lines to add line numbering support via CSS counter.
            let lines = String(sourcePreprocessed).split('\n');
            body += "<pre class='numbered_lines'>";
            for (let i = 0; i < lines.length; i++) {
                if (!success) {
                    if (errorType === "syntax" && i === errorLineNumber-1) {
                        // Color bad column or line.
                        let stringUpToMark = lines[i].substring(0, errorColumnNumber -1);
                        let stringToMark = lines[i].substring(errorColumnNumber -1, errorColumnRange - 1);
                        let stringPastMark = lines[i].substring(errorColumnRange -1, lines[i].length);

                        // console.log("stringUpToMark: " + stringUpToMark);
                        // console.log(`stringToMark: '${stringToMark}'`);
                        // console.log("stringPastMark: " + stringPastMark);

                        lines[i] = `${stringUpToMark}<mark class='red'>${stringToMark}</mark>${stringPastMark}`;
                    }
                }

                // Append line
                body += `<span>${lines[i]}</span>`;
            }
            body += "</pre>";

            // Collapsible raw JSON details.
            body +=
                "<button type='button' class='modal_json_collapsible_button'>Show JSON</button>" +
                "<div class='modal_json_collapsible_content'>" +
                    "<pre>" +
                        JSON.stringify(json, undefined, 4) +
                    "</pre>" +
                "</div>";

            // Define footer
            let footer = "Some footer";

            popupModal(header, body, footer, level);
            // Make the JSON detailsCollapsible element actually collapsible.
            addCaseDetailsCollapsibleButtonLogic("modal_json_collapsible_button");
        }

        /**
         * Make a custom POST request for non-form elements like DIV and SPAN.
         */
        function postRule() {
            let json = getRuleJsonFromEditorElements();

            let xhr = new XMLHttpRequest();
            let postUrl = $('#postUrl').data().url;

            console.log("POST URL: " + postUrl);

            xhr.open("POST", postUrl, true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            // Add custom handling of the response returned by XHR POST URL.
            xhr.onreadystatechange = function () {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    handlePostRuleResponse(JSON.parse(xhr.responseText));
                }
            };

            // Convert a JavaScript value to a JavaScript Object Notation (JSON) string (Required for POST).
            xhr.send(JSON.stringify(json));
        }



        //////
        /**
         * Make clone width and height static.
         * Take clone out of the element flow.
         *
         * @param {HTMLElement} node
         * @param {Number} width
         * @param {Number} height
         */
        function styleClone(node, width, height) {
            node.style.position = 'fixed';
            node.style.zIndex = 9999;
            node.style.width = width + 'px';
            node.style.height = height + 'px';
            node.style.left = '-9999px';

            node.style.margin = 0;
            node.style.padding = 0;
        }


        function makeClone(node) {
            console.log(node);
            let clone;

            // Returns a copy of node. If deep is true, the copy also includes the node's descendants.
            clone = node.cloneNode(true);

            node.parentNode.insertBefore(clone, node);

            return clone;
        }
    </script>
{% endblock %}