<link rel="stylesheet" href="{{ url_for('static', filename='yara_rule_designer_click.css') }}">

<!--Define variable-->
{% if artifacts is not defined %}
    {% set artifacts = {"data:" : "ERROR: NO ARTIFACTS WERE GIVEN!"} %}
{% endif %}

<!-- Load theme if specified -->
{% if theme is defined %}
    <!-- Set Jinja2 variables for use in JavaScript -->
    <meta id="themeArg" data-name="{{ theme }}" data-path="{{ url_for('static', filename='themes') + '/' }}">
{% endif %}


<div id="yara_rule_designer_header" class="yara_rule_designer"><p> Case: {{ case.data.title }} [ID: {{ case.data.id }}] </p></div>
<div id="yara_rule_designer_container">
    <div class="yara_rule_designer" id="yara_rule_designer_artifacts" ondrop="drop(event)" ondragover="dragOverDisallowedDrop(event)" ondragenter="dragEnterDenied(event)" ondragleave="dragLeaveDenied(event)">
    <!--    Add artifacts as individual draggable objects-->
        {% for artifact in artifacts %}
            <span id="artifact_{{ loop.index }}" class="draggable_artifact" onclick="addToEditor(event)">{{ artifact.data }} </span>
        {% endfor %}
    </div>
    <div id="yara_rule_designer_editor_container" class="yara_rule_designer">
        <div class="yara_rule_designer" id="yara_rule_designer_editor" ondrop="drop(event)" ondragover="dragOverAllowedDrop(event)" ondragenter="dragEnterAllowed(event)" ondragleave="dragLeaveAllowed(event)"></div>
        <div class="yara_rule_designer" id="yara_rule_designer_post" ondrop="drop(event)" ondragover="dragOverAllowedDrop(event)" ondragenter="dragEnterAllowed(event)" ondragleave="dragLeaveAllowed(event)"></div>
    </div>

    <div class="yara_rule_designer" id="yara_rule_designer_operators" ondrop="drop(event)" ondragover="dragOverDisallowedDrop(event)" ondragenter="dragEnterDenied(event)" ondragleave="dragLeaveDenied(event)">
    <!--    Add conditional keywords-->
    <!--    Boolean-->
        <span id="condition_keyword_and" class="condition_keyword" onclick="addToEditor(event)"> AND </span>
        <span id="condition_keyword_or" class="condition_keyword" onclick="addToEditor(event)"> OR </span>
        <span id="condition_keyword_not" class="condition_keyword" onclick="addToEditor(event)"> NOT </span>
    <!--    Arithmetic-->
        <span id="condition_keyword_equal" class="condition_keyword" onclick="addToEditor(event)"> == </span>
        <span id="condition_keyword_lt" class="condition_keyword" onclick="addToEditor(event)"> < </span>
        <span id="condition_keyword_gt" class="condition_keyword" onclick="addToEditor(event)"> > </span>
        <span id="condition_keyword_leq" class="condition_keyword" onclick="addToEditor(event)"> <= </span>
        <span id="condition_keyword_geq" class="condition_keyword" onclick="addToEditor(event)"> >= </span>
        <span id="condition_keyword_neq" class="condition_keyword" onclick="addToEditor(event)"> != </span>
    <!--    Relational-->
        <span id="condition_keyword_add" class="condition_keyword" onclick="addToEditor(event)"> + </span>
        <span id="condition_keyword_sub" class="condition_keyword" onclick="addToEditor(event)"> - </span>
        <span id="condition_keyword_mul" class="condition_keyword" onclick="addToEditor(event)"> * </span>
        <span id="condition_keyword_div" class="condition_keyword" onclick="addToEditor(event)"> / </span>
        <span id="condition_keyword_pct" class="condition_keyword" onclick="addToEditor(event)"> % </span>
        <span id="condition_keyword_setminus" class="condition_keyword" onclick="addToEditor(event)"> \ </span>
    <!--    Bitwise-->
        <span id="condition_keyword_bitwise_and" class="condition_keyword" onclick="addToEditor(event)"> & </span>
        <span id="condition_keyword_bitwise_or" class="condition_keyword" onclick="addToEditor(event)"> | </span>
        <span id="condition_keyword_bitwise_not" class="condition_keyword" onclick="addToEditor(event)"> ~ </span>
        <span id="condition_keyword_bitwise_xor" class="condition_keyword" onclick="addToEditor(event)"> ^ </span>
        <span id="condition_keyword_bitwise_lshift" class="condition_keyword" onclick="addToEditor(event)"> << </span>
        <span id="condition_keyword_bitwise_rshift" class="condition_keyword" onclick="addToEditor(event)"> >> </span>
    <!-- Parenthesis and wrappers       -->
        <span id="condition_keyword_lparen" class="condition_keyword" onclick="addToEditor(event)"> ( </span>
        <span id="condition_keyword_rparen" class="condition_keyword" onclick="addToEditor(event)"> ) </span>
        <span id="condition_keyword_encapsulate_paren" class="condition_encapsulator" onclick="addToEditor(event)"> () </span>

        <span id="condition_keyword_test" class="condition_keyword" draggable="true">Lorem ipsum dolor sit amet, consectetur. </span>
    </div>
</div>

{% block javascript %}
    <!-- JQuery includes ( required for drag and drop and $() ). -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-2.1.0.min.js"></script>

    <!-- Theme handler -->
    <script>
        // extend jQuery with this tiny convenience to allow for simple existence tests.
        $.fn.exists = function () {
            return this.length !== 0;
        };

        function loadTheme(themeData) {
            const rootEl = document.querySelector(':root');
            const themePath = themeData.path;

            var themeFile = themeData.name + ".json";
            var themeFilePath = themePath + themeFile;

            // Load corresponding theme JSON from file.
            console.log("Load theme: " + themeFilePath);
            $.getJSON(themeFilePath, function(json) {
                console.log(json); // this will show the info it in firebug console
                for (var key in json) {
                    console.log("setProperty(" + key + ", " + json[key] + ")")
                    rootEl.style.setProperty(key, json[key]);
                }

            });
        }

        if ($('#themeArg').exists()) {
            loadTheme($('#themeArg').data())
        }
    </script>

    <script>
        // https://stackoverflow.com/a/26272668
        function getStyleRuleValue(selector, style) {
         var selector_compare=selector.toLowerCase();
         var selector_compare2= selector_compare.substr(0,1)==='.' ?  selector_compare.substr(1) : '.'+selector_compare;

         for (var i = 0; i < document.styleSheets.length; i++)
         {
          var mysheet = document.styleSheets[i];
          var myrules = mysheet.cssRules ? mysheet.cssRules : mysheet.rules;

          for (var j = 0; j < myrules.length; j++)
          {
            if (myrules[j].selectorText)
            {
             var check = myrules[j].selectorText.toLowerCase();
             switch (check)
             {
              case selector_compare  :
              case selector_compare2 : return myrules[j].style[style];
             }
            }
           }
          }
         }

        const ROOT_CLASS = 'yara_rule_designer';
        const DIVS_WITH_CLONING = ['yara_rule_designer_artifacts', 'yara_rule_designer_operators'];

        var originalParentIdLookupByClass = {
            "draggable_artifact": "yara_rule_designer_artifacts",
            "condition_keyword": "yara_rule_designer_operators",
            "condition_encapsulator": "yara_rule_designer_operators"
        };

        /**
         * Because null == undefined is true, this will catch both null and undefined.
         */
        function hasRelatedTarget(ev) {
            return ev.relatedTarget != null;
        }

        /**
         * Because null == undefined is true, this will catch both null and undefined.
         */
        function hasTarget(ev) {
            return ev.target != null;
        }

        /**
         * Get the identifying property of the item when getAttribute isn't inherited.
         */
        function getIdentifier(target) {
            if (target.nodeName === "#text") {
                return target.data + " [type: #text]";
            } else {
                return target.getAttribute('id');
            }
        }

        function addToEditor(ev) {
            // Make sure we receive the expected event type, else error and return.
            if (ev.type !== "click") {
                console.error("addToEditor got non-click event: " + ev.type);
                console.error(ev);
                return
            }

            // If target is already in the editor, ignore the click event.
            if (ev.target.parentNode.getAttribute("id") === "yara_rule_designer_editor") {
                console.log("Ignored click event (target is child of editor div):");
                console.log(ev);
                return
            }

            console.log(ev);

            var editorDiv = document.getElementById("yara_rule_designer_editor");

            console.log('addToEditor: ' + $(ev.target).text());
            editorDiv.appendChild(makeClone(ev.target));
        }

        //////
        /**
         * Make clone width and height static.
         * Take clone out of the element flow.
         *
         * @param {HTMLElement} node
         * @param {Number} width
         * @param {Number} height
         */
        function styleClone(node, width, height) {
            node.style.position = 'fixed';
            node.style.zIndex = 9999;
            node.style.width = width + 'px';
            node.style.height = height + 'px';
            node.style.left = '-9999px';

            node.style.margin = 0;
            node.style.padding = 0;
        }


        function makeClone(node) {
            console.log(node);
            var clone;

            // Returns a copy of node. If deep is true, the copy also includes the node's descendants.
            clone = node.cloneNode(true);

            // this.styleClone(clone, node.offsetWidth, node.offsetHeight);

            node.parentNode.insertBefore(clone, node);

            return clone;
        }
    </script>
{% endblock %}