<link rel="stylesheet" href="{{ url_for('static', filename='yara_rule_designer.css') }}">

<div class="yara_rule_designer" id="yara_rule_designer_div" ondrop="drop(event)" ondragover="allowDrop(event)">
    <span id="word1" draggable="true" ondragstart="drag(event)">The sentence</span>
    <span id="word2" draggable="true" ondragstart="drag(event)">piano</span>
    <span id="word3" draggable="true" ondragstart="drag(event)">play</span>
    <span id="word4" draggable="true" ondragstart="drag(event)">I</span>
</div>

<div id="content" style="height: 400px;">
  <div id="makeMeDraggable"> </div>
</div>

{% block javascript %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-2.1.0.min.js"></script>

    <script type="text/javascript">
        function allowDrop(ev)
        {
            ev.preventDefault();
        }

        function drag(ev)
        {
            console.log('drag');
            ev.dataTransfer.setData("Text",ev.target.id);
        }

        function drop(ev)
        {
            console.log('drop');
            ev.preventDefault();
            var data=ev.dataTransfer.getData("Text");

            var currentText = $(ev.target).text();
            $(ev.target).text($('#' + data).text() + ' ' + currentText);
            $('#' + data).remove();
        }
    </script>

<script src="https://fb.me/react-with-addons-15.1.0.js"></script>
<script src="https://fb.me/react-dom-15.1.0.js"></script>


    <script type="text/javascript">
        $( init );

        function init() {
          $('#makeMeDraggable').draggable({
              containment: '#content',
              cursor: 'move',
              snap: '#content'
            });
        }
    </script>
{% endblock %}